.list-product{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin: 20px;
}

.container-input-search{
        display: flex;
        justify-content: end;
}